/* TimerDisplay.css */

.timer-digit {
  margin: 35px 35px 18px 35px;
  font-size: 8em; /* Adjust font size as needed */
  color: white; /* Initial color */
  text-shadow: 2px 5px 12px rgba(0, 0, 0, 0.4);
  transition: color 0.5s ease-in-out;
  animation: bounceAnimation 1.65s infinite alternate,
    colorChange 3s infinite alternate;
}

@keyframes bounceAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px); /* Adjust the bounce height as desired */
  }
}

@keyframes colorChange {
  from {
    color: #ffffff; /* Initial color */
  }
  to {
    color: #e1f5fe; /* Darker shade or desired color */
  }
}

/* Tablet view */
@media (max-width: 768px) {
  .timer-digit {
    font-size: 6em; /* Adjust font size for tablet view */
    margin: 25px 25px 12px 25px; /* Adjust margins for tablet view */
  }
}

/* Phone view */
@media (max-width: 480px) {
  .timer-digit {
    font-size: 4em; /* Adjust font size for phone view */
    margin: 12px 12px -8px 12px; /* Adjust margins for phone view */
  }
}
